body {
    font-family: 'Cinzel', serif;
    background-color: rgb(15, 6, 12);
}

#container {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

#home-header {
    position: relative;
    width: 100%;
    height: 60vh;
    background: 
        linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 70%, 
        rgba(26, 10, 21) 100%),
        url('../images/bg/header.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: azure;
    text-align: center;
}

#home-header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.45);
    z-index: 1;
}

#home-header .content {
    position: relative;
    z-index: 2;
    color: white;
}

#home-header h1 {
    font-family: 'Cinzel', serif;
    font-size: 3.25rem;
    margin: 0;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8)
}

#home-header p {
    font-size: 1.15rem;
    margin-bottom: 10px;
    text-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5)
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(7, 2, 7, 0.6);
    z-index: 10;
    padding: 0.8vh 0;
    display: flex;
    justify-content: center;
    transition: top 2.5s ease;
}

nav.floating {
    animation: floating 3s ease-in-out infinite;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline-block;
    max-width: 300px;
}

nav ul li a {
    font-family: 'Cinzel', serif;
    color: azure;
    font-size: 18px;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 40px;
    text-align: center;
    transition: background-color 0.75s ease;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
    transition: all 1s;
}

nav ul li:hover {
    background-color: rgba(36, 13, 29, 0.9);
    cursor: pointer;
}

#story {
    text-align: center;
    margin: 5vh 0;
    color: white;
    font-size: 2rem;
}

#story h1 {
    font-size: 2.75rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
}

#story p {
    font-size: 1.25rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
    text-decoration: none;
    transition: rgb(70, 23, 56);
}

#story p a {
    font-size: 1.5rem;
    color: azure;
    text-decoration: underline;
    animation: pulseColor 4s ease-in-out infinite;
}

#story p a:hover {
    background-color: rgb(54, 19, 44);
    animation: pulseColorHover 1.5s ease-in-out infinite;
}

#saved-chars h1 {
    color: azure;
    margin-top: 10vh;
    text-align: center;
}

#characters-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background:
        linear-gradient(to bottom, 
        rgba(0, 0, 0, 0) 30%, 
        rgba(26, 10, 21) 100%),
        url('../images//bg/bg-map.jpg') no-repeat center center/cover;
    border-radius: 8px;
    padding: 8px;
    margin: 4px;
    background-color: rgba(36, 13, 29, 0.9);
    color: azure;
    text-shadow: 1.5px 1.5px 5px rgba(0, 0, 0, 0.7);
}

#characters-list div {
    border: 2.5px solid rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    padding: 12px;
    margin: 4px;
    text-align: center;
}

#characters-list h4 {
    margin-bottom: 4px;
}

#characters-list p {
    text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
}

#characters-list li {
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    padding: 5px 0;
    margin: 2px 0;
}

#characters-list ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    font-size: 13px;
    justify-content: space-between;
    padding: 0;
    margin: 5px 0;
}

#characters-list .delete-btn {
    display: block;
    font-family: 'Cinzel', serif;
    margin: 5px auto;
    margin-top: 10px;
}

#characters-list .delete-btn:hover {
    transform: scale(1.1);
}

@keyframes floating {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(2px);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes pulseColor {
    0% {
        color: azure;
    }
    50% {
        color: rgb(95, 24, 76);
    }
    100% {
        color: azure;
    }
}

@keyframes pulseColorHover {
    0% {
        background-color: rgb(15, 6, 12);
    }
    50% {
        background-color: rgb(95, 24, 76);
    }
    100% {
        background-color: rgb(15, 6, 12);
    }
}

@media (max-width: 1024px) {
    #characters-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    nav ul li {
        margin: 5px 0;
    }

    nav ul li a {
        font-size: 15px;
        padding: 3px 5px;
        border-radius: 35px;
    }

    #home-header h1 {
        font-size: 2.5rem
    }   

    #home-header p {
        font-size: 1.1rem;
    }

    #characters-list ul {
        font-size: 11px;
    }
}